<!-- Jumbotron -->
<div class="jumbotron landing text-center">

  <!-- Signup Form -->
  <div class="float-form hidden-sm-down">
    <div class="form">
        
      
      
      <!-- <img class="" src="/assets/images/iphone-frame-white.png"> -->
      
      
      
      <h3 class="sub-head"><strong>Sign Up</strong></h3>
      <app-landing-form></app-landing-form>
    </div>
  </div>
  <div class="hidden-md-up"></div>

  <!-- Title -->
  <h1 class="display-3">Nile Delivery</h1>
  <h2 class="lead">Run Smoother</h2>
  <hr class="my-4">

  <!-- <p>On-Demand Construction &amp; Trade Delivery Services</p>
  <p><strong>On Call. On Site. On Time</strong></p> -->
  
  <!-- Three Clients (Table) -->
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-10 col-lg-12">
        <div class="text-center">
          <p>The innovative new delivery service specifically designed for
          <br>
          <span class="font-weight-bold">Construction, Trade &amp; Commercial Businesses</span>
          </p>
        </div>
        <div class="trio text-center">
          <div class="row justify-content-center">
            <table>
              <tbody>
                <tr>
                  <td style="text-align:center;"><img src="/assets/images/welder1.png" alt="Trades"></td>
                  <td style="text-align:center;"><img src="/assets/images/boss1.png" alt="Owners"></td>
                  <td style="text-align:center;"><img src="/assets/images/engineer1.png" alt="Managers"></td>
                </tr>
                <tr>
                  <td style="text-align:center;">Specialty Trades</td>
                  <td style="text-align:center;">Business Owners</td>
                  <td style="text-align:center;">Project Managers</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<hr>
<br>


<!-- Three Clients (Cards) -->
<!-- <div clas="trio">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-sm-2">
        <div class="card">
          <img class="card-img-top" src="/assets/images/welder1.png" alt="Tradesman">
          <div class="card-body">
            <div class="text-center">
              <h4 class="card-title">SPECIALTY TRADES</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card">
          <img class="card-img-top" src="/assets/images/engineer1.png" alt="Managers">
          <div class="card-body">
            <div class="text-center">
              <h4 class="card-title">PROJECT MANAGERS</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card">
          <img class="card-img-top" src="/assets/images/boss1.png" alt="Owner">
          <div class="card-body">
            <div class="text-center">
            <h4 class="card-title">BUSINESS OWNERS</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->



<!-- Industries Section -->
<div id="industries" class="container">
    <div class="text-center">
      <h1>We’re the Preferred Delivery Solution for:</h1>
      <h2>Construction &amp; Trade Contractors</h2>
      <br>
      <p>
      • Roofing • HVAC • Plumbing • Electrical • Landscaping • 
      Irrigation &amp; Lighting • General Contractors &amp; Developers •
      </p>
    </div>
    <table class="table">
        <thead>
          <tr>
            <th><img class="img-fluid" src="/assets/images/electrical-icon.png" alt="elctrical"></th>
            <th><img class="img-fluid" src="/assets/images/hvac-icon.png" alt="hvac"></th>
            <th><img class="img-fluid" src="/assets/images/landscape-icon.png" alt="landscape"></th>
            <th><img class="img-fluid" src="/assets/images/roofing-icon.png" alt="roofing"></th>
            <th><img class="img-fluid" src="/assets/images/plumbing-icon.png" alt="pluming"></th>
          </tr>
        </thead>
        <tbody>
    </tbody>
    </table>
  </div>


<!-- Video Section -->
<div class="video">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-sm-10 col-md-8 col-lg-10">
      <div class="text-center">
        <div>
        <div>
          <h3>We help your business Run Smoother.</h3>
        </div>
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-md-12">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://www.youtube.com/embed/FTIhw3iFcao" allowfullscreen></iframe>
              </div>
            </div>
            <p>Unanticipated supply shortfalls or adjustments to project plans that require you to quickly source additional or alternate materials while you’re on the job, can cost time, impede progress, eroding your profitability. Nile Delivery is the solution.</p>
          </div>
        </div>
        </div>
        </div>
      </div>
    </div>
  </div> 
</div>
<br>
<hr>
<br>


<!-- Three Features Section -->
<div class="three-cards">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top" src="/assets/images/pallet.png" alt="Pallet">
          <div class="card-body">
            <h4 class="card-title">Material Delivery</h4>
            <p class="card-text">We delivery anything that can reasonably fit in the back of a pickup truck.</p>
        </div>
      </div>
      </div>
        <div class="col-sm-3">
          <div class="card">
          <img class="card-img-top" src="/assets/images/red-truck.png" alt="Pallet">
          <div class="card-body">
            <h4 class="card-title">Pickup Trucks</h4>
            <p class="card-text">Our exclusive fleet of pickups ensures that we can handle any order needs you might have.</p>
          </div>
          </div>
        </div>
      <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top" src="/assets/images/clipoard.png" alt="Pallet">
          <div class="card-body">
            <h4 class="card-title">PO Invoicing</h4>
            <p class="card-text">We delivery anything that can reasonably fit in the back of a pickup truck.</p>
          </div>
          </div>
      </div>
    </div>
  </div>
</div>
<br>
<hr>
<br>


<!-- Advantages Photo Section -->
<div class="photo-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-6">
        <div class="card">
              <div class="card-body">
              <div class="text-center">
                  <h3><span class="font-weight-bold">Nile Advantages Include:</span></h3>
              </div>
              </div>
        </div>
      </div>
    </div>
  <div class="spacer"></div>
  <div class="row">
    <div class="col-sm-7">
      <div class="card">
        <div class="card-body"></div>
          <div>  
            <div>
              <ul>
                <li>Conserve manpower without sacrificing service</li>
                <li>Order tracking to accurately predict delivery timelines</li>
                <li>Invoice Nile as a ‘cost of service’ not an overhead expense</li>
                <li>You only pay for the time you actively need service</li>
                <li>The more you use Nile, the more you save </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<hr>
<br>




<!-- Home Page Content -->
<!-- <div class="home-content">
  <div class="text-center">
    <p>
      Nile Delivery is establishing a new standard in commercial and industrial delivery. 
      We outpace and outperform traditional runners because we’re equipped to handle heavy, bulky and oversized orders that traditional couriers just cannot manage.  
      We deliver to any business, project site, or other location you request. And we get it there promptly, with an efficiency that helps your business Run Smoother.</p>
  </div>


  <div class="text-center">
    <h3>
      Save Time. Conserve Manpower. Reduce Costs.<br>
      <span class="font-weight-bold">Increase Opportunity.</span>
    </h3>
  </div>


  <div class="text-center">
    <p>
      Nile Delivery relieves your need to keep salaried, full-time runners on staff. We’re the smart solution for efficiently and affordably acquiring the materials you need. You pay only as, and when, you need our services. Your projects stay on track, saving you not only valuable time, but eliminating the added expense of pulling yourself or an employee off task to pick up urgently needed supplies.
        
      You order directly from our home screen using your computer or mobile device. 
      You’ll be connected to one of our professional drivers who’ll pick up and deliver your supplies, so you can get back to doing what you do best:<br><span class="font-weight-bold">running your business.</span>
    </p>
  </div>


  <div class="text-center">
    <h3>Get what you need faster</h3>
    <p>
      100% Cost-Effective Business-To-Business Delivery<br>
      Use Your Account With Your Suppliers
    </p>
    <button type="button" class="btn btn-primary">Learn More</button>
  </div>
  <br>

  <div class="text-center">
    <h3>
      Commercial &amp; Retail Businesses
    </h3>
    <p>
      • Restaurants &amp; Food Trucks • Caterers &amp; Event Planners • Produce Vendors •
      • Auto Repair &amp; Body Shops • Hospital &amp; Medical Equipment Suppliers •
      • Hardware Stores • Furniture Stores • Parts &amp; Supply Stores • 
      • Service Providers Of Every Size &amp; Kind •     
    </p>
  </div>
  <div class="text-center">
    <button type="button" class="btn btn-primary">Learn More</button>
  </div>
</div> -->

<!-- HOME PAGE SWATH 3 – ABOUT NILE -->
<!-- <div class="text-center">
  <h1>
    About Nile Delivery
  </h1>

  <br>

  <p>
    Nile Delivery was established to help contractors, construction companies and other commercial businesses run their operations more profitably and efficiently. We improve the way you get your job done by providing affordable, real-time material delivery and local logistic solutions that keep businesses like yours on track.
  </p>
  <p>
    We’re headquartered in Dallas, Texas with satellite offices in College Station. Additional offices are scheduled to open soon in Austin, San Antonio, and Houston.
  </p>
    
  <br>

  <button type="button" class="btn btn-primary">Learn More</button>
  
</div> -->



<!-- HOME PAGE SWATH 4 – SIGN UP/DRIVE -->
  
  <!-- Client Sign Up Section -->
  <!-- <div class="text-center">
    <h1>
      Call Us Today To Become A Nile Client
      Get What You Need Faster
    </h1>

    <button type="button" class="btn btn-primary">Contact us Today!</button>

  </div>
  <br> -->

  <!-- DRIVER Sign Up Section -->
  <!-- <div class="text-center">
    <h1>
      Apply To Become A Nile Delivery Driver
      <br>
      Work Your Own Schedule
    </h1>

    <br>

    <button type="button" class="btn btn-primary">Apply Today</button>
  <br>
  <br>
  <br>
  </div> -->



