<div class="jumbotron text-center">
  <h1 class="display-3">Nile Delivery</h1>
  <p class="lead"><i>Run Smoother</i></p>
  <hr class="my-4">
  <p>On-Demand Construction &amp; Trade Delivery Services</p>
  <p><strong>On Call. On Site. On Time</strong></p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>


<div class="text-center">
  <p>
    The innovative new delivery service specifically designed for<br>
    <!-- TODO: make the font bigger for the below line. -->
    <span class="font-weight-bold">Construction, Trade &amp; Commercial Businesses</span>
  </p>
</div>


<div class="text-center">
  <p>Unanticipated supply shortfalls or adjustments to project plans that require you to quickly source additional or alternate materials while you’re on the job, can cost time, impede progress, eroding your profitability. Nile Delivery is the solution.</p>
</div>


<div class="text-center">
  <h3>We help your business Run Smoother.</h3>
</div>

<!-- NILE DELIVERY APP VIDEO -->
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe src="https://www.youtube.com/embed/FTIhw3iFcao" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>



<div class="text-center">
  <p>
    Responsive &amp; Efficient Delivery<br>
    Flexible &amp; Affordable Pricing<br>
    Bonded &amp; Insured Drivers<br>
  </p>
</div>


<div class="text-center">
  <p>
    Nile Delivery is establishing a new standard in commercial and industrial delivery. 
    We outpace and outperform traditional runners because we’re equipped to handle heavy, bulky and oversized orders that traditional couriers just cannot manage.  
    We deliver to any business, project site, or other location you request. And we get it there promptly, with an efficiency that helps your business Run Smoother.</p>
</div>


<div class="text-center">
  <h3>
    Save Time. Conserve Manpower. Reduce Costs.<br>
    <span class="font-weight-bold">Increase Opportunity.</span>
  </h3>
</div>


<div class="text-center">
  <p>
    Nile Delivery relieves your need to keep salaried, full-time runners on staff. We’re the smart solution for efficiently and affordably acquiring the materials you need. You pay only as, and when, you need our services. Your projects stay on track, saving you not only valuable time, but eliminating the added expense of pulling yourself or an employee off task to pick up urgently needed supplies.
      
    You order directly from our home screen using your computer or mobile device. 
    You’ll be connected to one of our professional drivers who’ll pick up and deliver your supplies, so you can get back to doing what you do best:<br><span class="font-weight-bold">running your business.</span>
  </p>
</div>


