.jumbotron {
  /* background-color: #bc2025; */
  color: white;
  background-image: url(/assets/images/construct-pickup-4c.jpg);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#phoneform {
  float: right;
  background-image: url(/assets/images/iphone-frame-white.png);
  background-repeat: no-repeat;
  margin-right: 25px;
  margin-top: 100px;
  width: 400px;
}
#iphoneframe {
  width: 400px;
  background-repeat: none;
    /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); */
      /* round iphone shading */
}
#landform {
  background: #FFFFFF;
  width: 360px;
  padding: 40px;
  text-align: center;
  margin-top: 105px;
  margin-left: 15px;
}

.btn {
  background-color: #0A5A89;
  border-color: #0A5A89;
}

.5 {
  width: 50%;
}
h1 {
  font-family: 'Oswald', sans-serif;
}
h2 {
  font-family: 'Yellowtail', cursive;
  font-size: 250%;
}
h3 {
  color: black;
  font-family: 'Libre Baskerville', serif;
}

.managers {
  width: 50%;
}

.video {
  background-color: lightgray;
  background-image: url(/assets/images/Map_overlay.png);
  width: 100%;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}
.photo-section {
  background-image: url(/assets/images/constructscene.jpg);
  width: 100%;
  height:500px;
}
.spacer {
  height: 250px;
}
.img-fluid {
  height: 150px;
}