.jumbotron {
  /* background-color: #bc2025; */
  color: white;
  background-image: url(/assets/images/construct-pickup-4c.jpg);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#phoneform {
  float: right;
  /* border-style: solid;
  border-width: 25px;
  border-image: url(/assets/images/iphone-frame-white.png) 25;
  border-image-outset: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

#landform {
  background: white;
  /* width: 360px; */
  padding: 10px;
  /* text-align: center; */
  /* margin-right: 15px; */
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#3clients {
  float: left;
}

.btn {
  background-color: #0A5A89;
  border-color: #0A5A89;
}

h2 {
  font-size: 250%;
}
h3 {
  color: black;
}

#industries .img-fluid {
  height: 150px;
}

#video {
  background-color: lightgray;
  background-image: url(/assets/images/Map_overlay.png);
  width: 100%;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}

  #videoframe {
    padding: 20px;
  }


#advantages {
  background-image: url(/assets/images/constructscene2.jpg);
  width: 100%;
  height:500px;
}

/* .advantages { position: relative; }

.advantages::after {
  background-image: url(/assets/images/constructscene.jpg);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 500px;
  background-color: rgba(0,0,0,.5);
} */

  #advantagetitle {
    margin-top: 15px;
    padding-top: 15px;
  }

  .spacer {
    height: 10px;
  }

  #advantagelist {
    position: right;
    padding-top: 15px;
    margin-left: 0px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }


#feature3 .img-fluid {
  size: 100%;
}
  #feature3 .card-deck .card {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
