<!-- Header -->
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
		
	<a class="navbar-brand" routerLink="/" routerLinkActive="active">
		<img src="/assets/images/logo_transparent_background.png" height="30" alt="The nile logo">
	</a>
	
	<div class="container justify-content-end">
		<div class="d-flex">
			<button type="button" class="close" aria-label="Close" routerLink="/driver-apply">
			<span aria-hidden="true">&times;</span>
			<!-- <a routerLink="/drive">Cancel Application</a> -->
			</button>
		</div>
	</div>

</nav>
<br>

<div class="container">
	<div class="row">
		<div class="col-md-10">
			
			<br>
			<h3><strong>Independent Contractor Agreement</strong></h3>
			<br>

			<ol>
				<li>
				<p><strong>Header</strong></p>
					<p>
						This Independent Contractor Agreement (Agreement) is between Nile Delivery, LLC, a Texas limited liability company (Client), and the person executing this Agreement as the driver (Driver).
					</p>
				</li>

				<li>
					<p><strong>Services to be performed by Driver</strong></p>
					<p>
						When Client’s customers submit a request for a business need, the software will notify a nearby Driver and will provide certain information about customer, including customer’s phone number and address, to the Driver in order to enable the Driver to fulfill customer’s request with the utmost accuracy. The Driver will then proceed to take the necessary steps to fulfill customer’s request, including placing an order for requested materials, or traveling to a location to collect/deliver materials for transport.  The Driver may communicate with the customer during the course of fulfillment, regarding the status of your request, or if any complications arise. The Driver is responsible for request fulfillment.  In the event of a return/exchange of Driver purchased materials, or a receiving party is unavailable or denies acceptance of a delivery, the procedure will be handled by Client’s policy at the given time of the occurrence.
					</p>
				</li>

				<li>
					<p><strong>Time for Performance</strong></p>
					<p>
						Driver will complete the performance of the services based on the schedule provided by Client’s customers.  Driver will work diligently and efficiently toward timely and proper completion of the services to be performed under this Agreement and shall keep the Client informed of the progress of the assignment.
					</p>
				</li>

				<li>
					<p><strong>Payment</strong></p>
					<p>
						Client will pay Driver as detailed in Exhibit B.
					</p>
				</li>
				<li>
				<p><strong>Independent Contractor Status</strong></p>
				<p>
					The parties mutually agree that Driver is an independent contractor for purposes of the services to be performed under this Agreement and that an employer-employee relationship does not exist between the parties. The parties mutually agree that they are two separate entities engaging solely in an independent contractor relationship.  Driver will have the right to control and determine the methods and means of performing the contractual services except when such methods and means conflict with this Agreement, conflict with the practices of Client or Client’s customers, or any other agreement made between the parties including agreements as to non-disclosure and non-compete. 
				</p>
				</li>

				<li>
					<p><strong>State and Federal Taxes</strong></p>
					<p>
						Client will not:
					</p>
					<ul>
						<li>withhold Social Security, Medicare or any other employment related taxes from Driver's payments or make any tax payment on Driver's behalf;</li>
						<li>make state or federal unemployment contributions on Driver's behalf; or</li>
						<li>withhold any other state or federal income tax from Driver's payments.</li>
					</ul>
					<br>
					<p>
						Driver will pay all applicable taxes related to the performance of services under this Agreement. This includes income, Social Security, Medicare and self-employment taxes. Driver will also pay all unemployment contributions related to the performance of services under this Agreement. Driver will reimburse Client if Client is required to pay such taxes or unemployment contributions.
					</p>
				</li>

				<li>
					<p><strong>Benefits</strong></p>
					<p>
						Neither Driver nor Driver's employees are eligible to participate in any Client employee benefit or plan, including, without limitation, 401K, pension, health, vacation, paid time off, sick pay or other fringe benefit plan of Client. 
					</p>
				</li>

				<li>
					<p><strong>Invoices; Release</strong></p>
					<p>
						Driver will not be required to submit invoices to Client for services performed.  Client software will track all amounts due to Driver and Driver will be paid on a weekly basis, the day is to be determined as per the Client’s account payable practices.
						<br>
						<br>
						DRIVER, DRIVER’S HEIRS, EXECUTORS, ADMINISTRATORS, SUCCESSORS, AND ASSIGNS, HEREBY RELEASE, WAIVE, INDEMNIFY, DISCHARGE AND HOLD HARMLESS, CLIENT AND ITS SUCCESSORS, ASSIGNS, DIRECTORS, OFFICERS, EMPLOYEES, MANAGERS, OWNERS, AND AGENTS FROM ANY AND ALL LIABILITY, CLAIMS AND DEMANDS OF WHATEVER KIND OF NATURE, EITHER IN LAW OR IN EQUITY, WHICH ARISE OR MAY HEREAFTER ARISE FROM THE SERVICES DRIVER PROVIDES TO CLIENT. DRIVER UNDERSTANDS AND ACKNOWLEDGES THAT THIS RELEASE DISCHARGES CLIENT FROM ANY LIABILITY OR CLAIM THAT DRIVER MAY HAVE AGAINST CLIENT WITH RESPECT TO BODILY INJURY, PERSONAL INJURY, ILLNESS, DEATH, PROPERTY DAMAGE, OR ANY OTHER CLAIM THAT MAY RESULT FROM THE SERVICES DRIVER PROVIDES TO CLIENT OR OCCURRING WHILE DRIVER IS PROVIDING SERVICES.  DRIVER UNDERSTANDS THAT THE SERVICES DRIVER PROVIDES TO CLIENT MAY INCLUDE ACTIVITIES THAT MAY BE HAZARDOUS. DRIVER HEREBY EXPRESSLY ASSUMES RISK OF INJURY OR HARM FROM THESE ACTIVITIES AND RELEASE CLIENT FROM ALL LIABILITY.
					</p>
				</li>

				<li>
					<p><strong>Background Checks</strong></p>
					<p>
						Where permissible under applicable state and local law, Driver will be subject to a background check after receiving a conditional offer.  The background check will be to investigate Driver’s criminal background and driving record and any other matters related to Driver’s suitability for the position. Driver consents and agrees to provide Client with Driver’s social security number and driver’s license number, and to the performance of a comprehensive background check and to its disclosure to Client.
					</p>
				</li>

			<li>
				<p><strong>Assistants</strong></p>
				<p>
					Driver, at Driver's expense, may employ others, as Driver deems appropriate to perform the services. Driver will be responsible for paying these assistants as well as any expense attributable to them including income, Social Security and Medicare taxes, and unemployment contributions.  Any such assistant must provide to Client his social security number and driver’s license number, and permit Client to perform a comprehensive background check and to its disclosure to Client
				</p>
			</li>

			<li>
				<p><strong>Equipment and Supplies</strong></p>
				<p>
					Client will provide software to facilitate the completion of the services.  Driver, at Driver's expense, must provide its own cellular mobile phone.  Driver, at Driver’s expense, can provide any additional equipment, tools and supplies, deemed necessary by Driver, to perform the services.
					<br>
					At a minimum, Driver will be required to have the following equipment and supplies while performing duties on behalf of Client:
				</p>
				<ul>
					<li>
						a cellular phone running Apple operating system of x.x.xx or Google Android operating system of x.x.xx
					</li>
					<li>
						operational cellular phone car charger and standard wall charger
					</li>
					<li>
						a valid driver’s license
					</li>
					<li>
						valid automobile insurance meeting State minimum requirements, and 
					</li>
					<li>
						reliable transportation
					</li>
				</ul>
			</li>
			<br>

			<li>	
				<p><strong>Expenses</strong></p>
				<p>
					Driver will be responsible for all expenses required for the performance of the services, including, but not limited to, vehicle oil and gasoline, vehicle depreciation, cellular phone rates and fees, automobile insurance, and vehicle mileage.  
				</p>
				<p>
					The payment for order materials will be conducted via Client policy, and such policy may be updated from time to time.  Client policy may include the use of a customer account, vendor-Client account, a pre-paid credit card, a business credit card, or some other payment form.  Supplied payment methods are to be used solely for the completion of customer orders, and any violation of such provision will lead to termination of this Agreement and possible legal remedies for Client.
				</p>
				<p>
					If Driver has to use personal funds to complete a customer order, then those funds will be reimbursed to Driver via the software application.  Any other expenses will be reimbursed only with the express written approval of Client, and on a case by case basis.  
				</p>
			</li>			

			<li>
				<p><strong>Termination</strong></p>
				<p>
					This Agreement may be terminated by either party at any time and for any reason or for no reason with written notice. 
				</p>
			</li>

			<li>
				<p><strong>Disputes</strong></p>
				<p>
					If a dispute arises, the parties will try in good faith to settle it through mediation conducted by a mediator to be mutually selected. 
				</p>
				<p>
					The parties will share the costs of the mediator equally. Each party will cooperate fully and fairly with the mediator and will attempt to reach a mutually satisfactory compromise to the dispute. If the dispute is not resolved through mediation, the parties agree that they will submit to binding arbitration and, if the parties cannot select an arbitrator mutually agreeable within fifteen (15) days of the first request by one party to the other, a Court of competent jurisdiction may select an arbitrator(s).  Judgment on the arbitration award may be entered in any court that has jurisdiction over the matter. Costs of arbitration, including lawyers' fees, will be allocated by the arbitrator. 
				</p>
			</li>

			<li>
				<p><strong>Entire Agreement</strong></p>
				<p>
					This is the entire agreement between the parties. It replaces and supersedes any and all oral agreements between the parties, as well as any prior writings. 
				</p>
			</li>

			<li>
				<p><strong>Successors and Assignees</strong></p>
				<p>
					This Agreement binds and benefits the heirs, successors and assignees of the parties.
				</p>
			</li>

			<li>
				<p><strong>Notices</strong></p>
				<p>
					All notices must be in writing. A notice may be delivered to a party at the address that follows a party's signature or to a new address that a party designates in writing. A notice may be delivered: 
				</p>	
				<ul>
					<li>in person</li>
					<li>by certified mail, or</li>
					<li>by overnight courier.</li>
				</ul>
			</li>
			<br>

			<li>
				<p><strong>Governing Law</strong></p>
				<p>
					This Agreement will be governed by and construed in accordance with the laws of the state of Texas.  Venue for all disputes will be in Dallas, Dallas County, Texas.
				</p>
			</li>

			<li>
				<p><strong>Counterparts</strong></p>
				<p>
					The parties may sign several identical counterparts of this Agreement. Any fully signed counterpart shall be treated as an original. 
				</p>
			</li>

			<li>
				<p><strong>Modification</strong></p>
				<p>
					This Agreement may be modified only by a writing signed by both Driver and Client.
				</p>
			</li>

			<li>
				<p><strong>Waiver</strong></p>
				<p>
					If one party waives any term or provision of this Agreement at any time, that waiver will be effective only for the specific instance and specific purpose for which the waiver was given. If either party fails to exercise or delays exercising any of its rights or remedies under this Agreement, that party retains the right to enforce that term or provision at a later time. 
				</p>
			</li>

			<li>
				<p><strong>Severability</strong></p>
				<p>
					If any court determines that any provision of this Agreement is invalid or unenforceable, any invalidity or unenforceability will affect only that provision and will not make any other provision of this Agreement invalid or unenforceable and such provision shall be modified, amended or limited only to the extent necessary to render it valid and enforceable.
				</p>
			</li>

		</ol>

		<div class="container">
				<div class="row">

					<div class="col-md-6">
						Nile Delivery, LLC (CLIENT)
						<br>
						a Texas limited liability company
						<br>
							By:__________________________________________
						<br>
							Name:________________________________________
						<br>
							Its:_________________________________________
						<br>
							Date:________________________________________
					</div>

					<div class="col-md-6">
						<br>
						DRIVER                                         
						<br>
						Signature:_____________________________________
						<br>
						Name:__________________________________________
						<br>
						Date:__________________________________________
						</div>

			</div>
		</div>
				


			<br>
			<br>
			<br>
			EXHIBIT B
			Driver Payment

			Client will pay Driver _____________________________________________________________________ 

		</div>
	</div>
</div>


