<div class="text-center">
<!-- Jumboton -->
<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1 class="display-3">Industries</h1>
	</div>
</div>
<hr>
<br>

<div class="container-fluid">
	<div class="row justify-content-center">	
		<div class="col-sm-11 col-md-11">
			<p>Did your supplier send the incorrect or not enough material? Did your job foreman spec the wrong kind or color of kitchen tile? Has your client decided, mid-installation, to have you sod more area of their lawn than originally scoped? Whatever the job requires, rely on Nile. We’ll get it where it needs to be.</p>
		</div>
	</div>
</div>
<br>
<br>

<div class="container-fluid">
	<div class="row justify-content-center">

		<div class="col-sm-10 col-md-10">
			<div class="card bg-light mb-3" id="how">
				<div class="card-body">
					<h2 class="card-title">Construction &amp; Trade Contractors</h2>
					<p>• Roofing • HVAC • Plumbing • Electrical • Landscaping • Irrigation &amp; Lighting • General Contractors &amp; Developers •</p>
				</div>
			</div>
		</div>

	</div>
	<div class="row justify-content-center">
		<div class="col-sm-10 col-md-8">
			<table class="table" id="construction">
				<thead>
					<tr>
					<th><img class="img-fluid" src="/assets/images/electrical-icon.png" alt="elctrical"></th>
					<th><img class="img-fluid" src="/assets/images/hvac-icon.png" alt="hvac"></th>
					<th><img class="img-fluid" src="/assets/images/landscape-icon.png" alt="landscape"></th>
					<th><img class="img-fluid" src="/assets/images/roofing-icon.png" alt="roofing"></th>
					<th><img class="img-fluid" src="/assets/images/plumbing-icon.png" alt="pluming"></th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>

</div>
<br>
<br>

<div class="row justify-content-center">

	<div class="col-sm-10 col-md-10">
		<div class="card bg-light mb-3" id="how">
			<div class="card-body">
				<h2 class="card-title">Commercial &amp; Retail Businesses</h2>
				<p>• Restaurants &amp; Food Trucks • Caterers &amp; Event Planners • Produce Vendors • Auto Repair &amp; Body Shops • Hospital &amp; Medical Equipment Suppliers • Hardware Stores • Furniture Stores • Parts &amp; Supply Stores • Service Providers Of Every Size &amp; Kind •</p>
			</div>
		</div>
	</div>

	<div class="col-sm-10 col-md-8">
		<table class="table" id="commercial">
			<thead>
				<tr>
				<th><img class="img-fluid" src="/assets/images/foodtruck-icon.png" alt="elctrical"></th>
				<th><img class="img-fluid" src="/assets/images/produce.png" alt="hvac"></th>
				<th><img class="img-fluid" src="/assets/images/auto-icon.gif" alt="landscape"></th>
				<th><img class="img-fluid" src="/assets/images/medical-icon.svg" alt="roofing"></th>
				<th><img class="img-fluid" src="/assets/images/tools-bg.png" alt="pluming"></th>
				<th><img class="img-fluid" src="/assets/images/gear-icon.png" alt="pluming"></th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>

</div>
<br>
<br>

<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-sm-11 col-md-11">
				<p>
					*The Nile Delivery Mobile App is currently under construction. If you’re interested
					in registering for our service prior to its launch, we invite you to become a part of
					our Beta Testing Group.
				</p>
				<button type="button" class="btn" routerLink="/contact" routerLinkActive="true">Contact Us</button>
		</div>
	</div>
</div>
<br>
<hr>



</div>