<div class="text-center">

	<br>

	<h1>
		Go With Nile
	</h1>

	<h2>Become A Client</h2>

	<p>
		Call us today to become a Nile Client and start enjoying the confidence of knowing you’ll have the materials you need delivered quickly, affordably and dependably. We help your business Run Smoother.
	</p>

	<p>
		The Nile Delivery Mobile App is currently under construction. If you’re interested in registering for our service prior to its launch, we invite you to become a part 
		of our Beta Testing Group.
	</p>

	<button routerLink="/client-apply" type="button" class="btn btn-primary">Sign up Today!</button>



</div>