<div class="text-center">

  <!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Contact Us</h1> 
  </div>
</div>
<hr>
<br>
<br>

<!-- Headliner -->
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-11 col-md-11">
      <h3>
        Have a question? Want to schedule a delivery?
        <br>
        Just let us know.
        <hr id="hr-50">
        We’re here when you need us.
      </h3>
    </div>
  </div>
</div>
</div>
<br>
<br>

<!-- Contact Us Form -->
<div class="container-fluid" id="contact-form">
  <div class="row justify-content-center">
    <div class="col-sm-7 col-md-7">
      <form>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Name">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="email1" placeholder="Email">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Subject">
        </div>
        <div class="form-group">
          <textarea class="form-control" id="message" rows="7" placeholder="Enter your message here..."></textarea>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<br>
<hr>

