<div class="text-center">
  <h1><span class="font-weight-bold">Nile Advantages Include:</span></h1>
</div>


<div>
  <ul>
    <li>
      Conserve manpower without sacrificing service
    </li>
    <li>
      Order tracking to accurately predict delivery timelines
    </li>
    <li>
      You have a chance to earn commission on every dollar spent with Nile 
      (Invoice Nile as a ‘cost of service’ not an overhead expense)            
    </li>
    <li>
      Less expensive than hiring a runner
      (You only pay for the time you actively need service)            
    </li>
    <li>
      The more you use Nile, the more you save 
    </li>
  </ul>
</div>


<div class="text-center">
  <h3>Get what you need faster</h3>
  <p>
    100% Cost-Effective Business-To-Business Delivery<br>
    Use Your Account With Your Suppliers
  </p>
  <button type="button" class="btn btn-primary">Learn More</button>
</div>

