<!-- Jumbotron -->
<div class="text-center">
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-3">Nile Saves You Time &amp; Money</h1>
				<p class="lead">Compared to traditional logistics services, Nile Delivery is a cut above.
				Please Contact Us if you have any questions specific to your business.
				</p>
		</div>
	</div>
<hr>
<br>

<!-- 100% Headliner -->
<h3>100% Cost-Effective Business-To-Business Delivery</h3> 
<h3>Use Your Account With Your Suppliers</h3>
<br>

<!-- Delivers, Deliveries Section -->
<div class="container-fluid">

	<div class="row justify-content-center">
		<div class="col-sm-10 col-md-8">
			<div class="card bg-light mb-3" id="how">
				<div class="card-body">
					<h2 class="card-title">How Nile Delivers</h2>
					<p>
						• To get started, simply register your business and download our App* •
					</p>
					<p>
						• All delivery requests require a pick-up and drop-off location •
					</p>
					<p>
						• Cargo transported can be of any size up to one full pallet load • 
					</p>
					<p>
						• For convenience, your Credit Card info is securely stored on file •
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row justify-content-center">
		<div class="col-sm-10 col-md-6">
			<div class="card bg-light mb-3" id="same-day">
				<div class="card-body">
					<h4 class="card-title">Same Day Deliveries</h4>
					<p>
						• Timely pick up and drop off – when needed and where needed •
					</p>
					<p>
						• End-of-day or after-hours pick-up for delivery early next morning •
					</p>
					<p>
						• Prompt delivery to sites and locations throughout our service area •
					</p>
				</div>
			</div>
		</div>

		<div class="col-sm-10 col-md-6">
			<div class="card bg-light mb-3" id="scheduled">
				<div class="card-body">
					<h4 class="card-title">Scheduled Deliveries</h4>
					<p>
						• Arrange for pick-ups and deliveries daily, weekly or monthly •
					</p>
					<p>
						• Advance scheduling ensures your materials receive priority service •
					</p>
					<p>
						• Volume pricing on recurring deliveries saves you even more • 
					</p>
				</div>
			</div>
		</div>
	</div>

</div>

<!-- Nile Advantage Section -->
<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-sm-10 col-md-10">
				<h2>Nile Advantages Include:</h2>
				<p>
					Conserve manpower without sacrificing service
				</p>
				<p>
					Order tracking to accurately predict delivery timelines
				</p>
				<p>
					You have a chance to earn commission on every dollar spent with Nile 
					(Invoice Nile as a ‘cost of service’ not an overhead expense)
				</p>
				<p>
					Less expensive than hiring a runner
					(You only pay for the time you actively need service)
				</p>
				<p>
					The more you use Nile, the more you save
				</p>
				<p>
					Get what you need faster
				</p>
		</div>
	</div>
</div>

<br>
<hr>
</div>