.jumbotron {
    color: white;
    background-color: #bc2025;
    background-image: url(/assets/images/Map_overlay.png);
    width: 100%;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .card #same-day {
    padding: 5px;
}

.card #sacheduled {
    padding: 5px;
} */

.card {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#calender-icon {
    padding-left: 15px;
}