<form>
  <h3>
    Sign Up
  </h3>
  <div class="form-group">
    <input type="text"  class="form-control" id="firstname" placeholder="Full Name" required>
    <input type="text" class="form-control" id="company" placeholder="Company Name" required>
    <input type="email" class="form-control" placeholder="Email" required>
    <input type="tel" class="form-control" placeholder="Cell Number" required>
  </div>
  <div class="form-group">
    <select class="form-control" id="cities">
      <option>Select your City</option>
      <option>Dallas</option>
      <option>Fort Worth</option>
    </select>
  </div>
  <div class="form-group">
    <select class="form-control" id="deliveries">
      <option selected>Deliveries per week?</option>
      <option value="1-5">1 to 5</option>
      <option value="6-10">6 to 10</option>
      <option value="11-20">11 to 20</option>
      <option value="20+">20 or more</option>
    </select> 
  </div>
  <button>Sign Up</button>
  <p class="message">Already Registered? <a href="client-portal/login">Log In</a></p>
</form>

