    <form class="sign up">
        <input type="text" name="firstname" placeholder="First Name" required/>
        <input type="text" name="lastname" placeholder="Last Name" required/>
        <input type="text" name="Company" placeholder="Company Name" required/>
        <input type="email" placeholder="Email" required>
        <input type="tel" placeholder="Cell Number" required>
        <input type="password" name="pword" placeholder="Password" required/>
        <select required>
          <option value="invalid" disabled selected>Select your City</option>
          <option value="dallas">Dallas</option>
          <option value="fortworth">Fort Worth</option>
          <option value="arlington">Arlington</option>
        </select>
        <select required>
          <option value="invalid" disabled selected>How many deliveries per week?</option>
          <option value="1-5">1 to 5</option>
          <option value="6-10">6 to 10</option>
          <option value="11-20">11 to 20</option>
          <option value="20+">20 or more</option>
        </select> 
        <button>Sign Up</button>
        <p class="message">Already Registered? <a href="signUp.html">Log In</a></p>
      </form>
