<!-- Header -->
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" routerLink="/" routerLinkActive="active">
		<img src="/assets/images/logo_transparent_background.png" height="30" alt="The nile logo">
	</a>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">

			<li class="nav-item">
				<a class="nav-link" routerLink="/services" routerLinkActive="active">Services</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" routerLink="/industries" routerLinkActive="active">Industries</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" routerLink="/about" routerLinkActive="active">About Nile</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" routerLink="/drive" routerLinkActive="active">Drive</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" routerLink="/sign-up" routerLinkActive="active">Sign Up</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact Us</a>
			</li>
		</ul>
	</div>
</nav>


<!-- <div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-sm-12 col-md-10 col-lg-8"> -->
			<router-outlet></router-outlet>
		<!-- </div>
	</div>
</div> -->

 
<footer id="myFooter">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-sm-6 col-md-3">
				<h5>Get started</h5>
				<ul>
					<li><a routerLink="/" routerLinkActive="active">Home</a></li>
					<li><a href="#">Sign up</a></li>
					<li><a routerLink="/drive" routerLinkActive="active">Drive</a></li>
				</ul>
			</div>
			<div class="col-sm-6 col-md-3">
				<h5>About us</h5>
				<ul>
					<li><a routerLink="/services" routerLinkActive="active">Services</a></li>
					<li><a routerLink="/industries" routerLinkActive="active">Industries</a></li>
					<li><a routerLink="/about" routerLinkActive="active">About Us</a></li>
				</ul>
			</div>
			<div class="col-sm-6 col-md-3">
				<h5>Support</h5>
				<ul>
					<li><a routerLink="/contact" routerLinkActive="active">Contact Us</a></li>
					<li><a href="#">Help desk</a></li>
					<li><a href="#">FAQ</a></li>
				</ul>
			</div>
			<div class="col-sm-6 col-md-3">
				<h5>Legal</h5>
				<ul>
					<li><a href="#">Terms of Service</a></li>
					<li><a routerLink="/terms-of-use" routerLinkActive="active">Terms of Use</a></li>
					<li><a routerLink="/privacy-policy" routerLinkActive="active">Privacy Policy</a></li>
				</ul>
			</div>
		</div>
		<!-- Here we use the Google Embed API to show Google Maps. -->
		<!-- In order for this to work in your project you will need to generate a unique API key.  -->
		<!-- <iframe id="map-container" frameborder="0" style="border:0"
			src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJOwg_06VPwokRYv534QaPC8g&key=AIzaSyBdJm9Amm4KALkKlZObWn40dcpRyH119zg" >
		</iframe> -->
	</div>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-sm-0 col-md-4"></div>
			<div class="col-sm-6 col-md-4">
				<div class="social-networks">
					<a href="https://twitter.com/NileDelivery" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
					<a href="https://www.facebook.com/niledeliveryapp" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
					<a href="https://www.linkedin.com/company/15249098/" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
				</div>
				</div>
				<div class="col-sm-6 col-md-4">
				<div class="text-right">
					<img class="img-fluid" src="/assets/images/logo_transparent_background.png" style="width: 20rem; margin: 1rem;">
				</div>
			</div>
		</div>
	</div>
				<div class="footer-copyright">
					<p>© 2017 Copyright Nile Delivery, LLC </p>
				</div>


	<!-- <div class="container">
		<div class="row justify-content-center text-center">
			<div class="col-md-4 col-sm-6">
				<a routerLink="/terms-of-use" routerLinkActive="active">Terms of Use</a>
			</div>

			<div class="col-sm-12 col-md-4">
				<img src="/assets/images/dark_logo_transparent_background.png" height="30" alt="The nile logo">
			</div>
 
			<div class="col-md-4 col-sm-6">
				<a routerLink="/privacy-policy" routerLinkActive="active">Privacy Policy</a>
			</div>
		</div>
	</div> -->


</footer>


