<div class="text-center">
  <h1>
    About Nile Delivery
  </h1>

  <br>

  <p>
    Nile Delivery was established to help contractors, construction companies and other commercial businesses run their operations more profitably and efficiently. We improve the way you get your job done by providing affordable, real-time material delivery and local logistic solutions that keep businesses like yours on track.
  </p>
  <p>
    We’re headquartered in Dallas, Texas with satellite offices in College Station. Additional offices are scheduled to open soon in Austin, San Antonio, and Houston.
  </p>
    
  <br>

  <button type="button" class="btn btn-primary">Learn More</button>
  
</div>