<div class="text-center">

<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1 class="display-3">About Nile</h1>
	</div>
</div>
<hr>
<br>

<!-- Nile Difference Section -->
<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-sm-11 col-md-11">
			<h1>The Nile Difference</h1>
			<p>Nile Delivery was established to help contractors, construction companies and other commercial businesses run their operations more profitably and efficiently. We improve the way you get your job done by providing affordable, real-time material delivery and local logistic solutions that keep businesses like yours on track.</p>
			<p>We’re not a courier service or a hot-shot company. Nile Delivery is an agile supply-chain solution dedicated to improving the daily lives of the working professionals we serve.</p>
			<p>We accomplish this by offering affordable deliveries with flexible pricing and quality customer service that helps your business Run Smoother.</p>
		</div>
	</div>
</div>
<br>
<br>

<!-- Nile Story Section -->
<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-sm-11 col-md-11">
			<h2>The Nile Story</h2>
			<p>Henry Tobolka, the founder of Nile Delivery, began working in the roofing industry straight out of college. When shortages of roofing materials were causing delays in project completions, Henry realized that the standard methods of acquiring urgently needed materials were prime for improvement. He recognized that virtually all commercial businesses inadvertently run out of materials – and the delays that creates can disrupt operations and impede profitability.</p>
			<p>As a result, Nile Delivery was born. Since then, Henry’s original objective of creating a more responsive material-delivery service has evolved into the larger vision of establishing a more efficient economic supply-chain system that helps improve operations by restructuring how business resources are acquired. Today, Nile Delivery is headquartered in Dallas, Texas with satellite offices in College Station. Additional offices are scheduled to open soon in Austin, San Antonio, and Houston.</p>
		</div>
	</div>
</div>
<br>
<br>
</div> <!--ends text-center -->

<!-- Nile Team Section -->
<div class="container-fluid">
	<div class="row justify-content-center">
			<div class="text-center">
			<h2>
				The Nile Team
			</h2>
			</div>
			<div class="container-fluid" id="team">
				<div class="row justify-content-center">
					<div class="col-sm-1 col-md-1" id="prof-pic">
						<img src="/assets/images/kevint.png" alt="Henry Tobolka">
					</div>
					<div class="col-sm-3 col-md-3">
						<div class="card">
							<header class="container">
								<h3>Henry Tobolka</h3>
							</header>
							<div class="container">
								<p>Co-Founder & CEO</p>
							</div>
							<!-- <footer>
								<h5>Founder & CEO</h5>
							</footer> -->
						</div>
					</div>
					<div class="col-sm-1 col-md-1" id="prof-pic">
						<img src="/assets/images/kevint.png" alt="Kevin Towe">
					</div>
					<div class="col-sm-3 col-md-3">
						<div class="card">
							<header class="container">
								<h3>Kevin Towe</h3>
							</header>
							<div class="container">
								<p>Co-Founder & CTO</p>
							</div>
							<!-- <footer>
								<h5>Co-Founder & CTO</h5>
							</footer> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<br>
<br>

<div class="text-center">
<!-- Nile Legend Section -->
<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-sm-11 col-md-11">
			<h2>
				The Nile Legend: Inspired By A History Of Delivering
			</h2>
			<p>
				The mighty Nile River, the world’s longest waterway, has served as a primary trade route for commercial transportation and materials delivery since the dawn of civilization. It carried the massive granite blocks that built the Great Pyramids at Giza, the Sphinx, and other ancient monuments. It delivered the agricultural harvests of the Nile Valley to societies throughout the Fertile Crescent.
			</p>
			<p>
				So, it was in tribute to this legendary industrial trade route that we chose the name, Nile Delivery. Our unique status as the only on-call industrial and commercial delivery service in the Southwest builds on the iconic Nile River’s reputation as a reliable and efficient source for acquiring the goods and materials you need to keep your business running smoothly and successfully.
			</p>
		</div>
	</div>
</div>
</div>
<br>
<hr>

