/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import url('https://fonts.googleapis.com/css?family=Cabin|Cabin+Condensed|Libre+Baskerville|Montserrat|Oswald|Yellowtail');
/* font-family: 'Yellowtail', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Cabin', sans-serif;
font-family: 'Cabin Condensed', sans-serif;
font-family: 'Oswald', sans-serif; */
h1 {
    font-family: 'Oswald', sans-serif;
  }
  h2 {
    font-family: 'Yellowtail', cursive;
    font-size: 250%;
  }
  h3 {
    font-family: 'Libre Baskerville', serif;
  }
  
  .btn {
    color: white;
    background-color: #0A5A89;
    border-color: #0A5A89;
  }
  #hr-50 {
    width: 50%;
  }
  