<div class="text-center">

<!-- Jumboton -->
<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1 class="display-3">Grow With Nile</h1>
		<h2>Become a Driver</h2>
	</div>
</div>
<hr>
<br>

<!-- Headliner Section -->
<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-sm-11 col-md-11">
			<h3>
				Want to earn fast cash providing prompt service to Nile Delivery Clients?
				<br>
				<br>
				<strong>Apply to join our team.</strong>
				<br>
				<br>
				We’re always looking for qualified drivers.
				<br>	
				Work your own schedule, when you want, as often as you want.
			</h3>
		</div>
	</div>
</div>
<br>
<br>

<!-- Basic Requirements Section -->
<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-sm-7 col-md-7">
			<h3>The Basic Requirements</h3>
			<p>
				Own and drive a full-sized pickup truck (model year 2000 or newer).
				<br>
				We work with knowledgeable and professional drivers.
				<br>
				You must be at least 21 years of age or older.
				<br>
				A good driving record and complete a background check is required.
				<br>
				Carry current insurance and registration on your vehicle and meet all State requirements for inspections, licenses, etc.
				<br>
				Be physically fit; able to lift at least 50 pounds and perform basic loading, unloading and product securement.
				<br>
				To protect your liability, no customers in your vehicle
			</p>
			<br>
		</div>
	</div>
</div>

<!-- Working Benefits Section -->
<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-sm-8 col-md-8">
			<h3>The Working Benefits</h3>
			<p>
				As a Nile Delivery Team Member, you’ll earn solid pay along with the freedom and flexibility to set your own hours. A few of the many benefits you’ll enjoy as a driver with Nile Delivery include:
			</p>
			<p>
				Earn great money, set your own hours! Nile Delivery Drivers make an average of around $15 per hour. There are no tips due to the nature of the business. Instead, you’re guaranteed a great way to make some cash.
				<br>
				Build connections with people and businesses across multiple fields.
				<br>
				Transform your pickup truck into a profit-making investment vehicle!
			</p>
		</div>
	</div>
</div>
<br>
<br>

<button type="button" routerLink="/driver-apply" routerLinkActive="true" class="btn">Apply Now</button>

<br>
<hr>
</div>